#pipit-tweet
{
  box-sizing: border-box;
  font-family: sans-serif;

  background-color: #b8dff0;
  padding: 40px 10px;
  max-width: 590px;
  width: 100%;
  border-radius: 8px;
  position: relative;
}

#pipit-tweet h4
{
    margin-top: 0;
    margin-bottom: 4px;
}

#pipit-tweet_content
{
    padding: 14px 8px;
    width: 100%;
    min-height: 100px;
    
    border-radius: 8px;
    background-color: #f5f5f5;
    border: 1px solid #afafaf;
    font-size: 16px;
    margin-bottom: 10px;
    
    overflow: hidden;
    white-space: pre-wrap;
    cursor: not-allowed;
}
@media (min-width: 560px)
{
    #pipit-tweet
    {
        padding: 40px;
    }
}

.pipit-tweet_link
{
  background-color: rgba(245, 245, 245, 0.35);
  color: #1c94e0;
}
#pipit-tweet_content .pipit-tweet_warning
{
  background-color: rgba(255, 0, 0, 0.25);
}


.tweet_action
{
  text-align: right;
}

#pipit-tweet_count
{
  /*display: inline-block;*/
  text-align: right;
  line-height: 20px;
  margin-right: 8px;
  color: #657786;
}
#pipit-tweet_count.pipit-tweet_warning
{
  color: red;
}

#tweet_btn
{
  display: inline-block;
  width: 75px;
  background-color: #1da1f2;
  border: 1px solid #1da1f2;
  border-radius: 100px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  padding: 6px 16px;
  text-align: center;
  box-shadow: none;
  cursor: pointer;
}
#tweet_btn:hover
{
  background-color: #006dbf;
  border: 1px solid #006dbf;
}
#tweet_btn:disabled
{
  opacity: 0.45;
}